body, p, h1, h2, h3, h4, h5, h6, form{
    color: rgb(63, 117, 171);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

body{
    margin: 0px;
    background-color: #f9f9f9;
}

#container{
    width: 900px;
    height: 506px;
    margin: 1em auto;
    margin-top: 0px;
    background: url(background_2.png);
    background-size: cover;
}

#wrap{
    padding-bottom: 20px;
}

@font-face {
    font-family: Rebirth_Ultra;
    src: url(font/Rebirth\ Ultra.ttf);
}

iframe{
    margin: 1em;
    border-style: none;
}

#main{
    background-color: #F9F9F9;
    width: 900px;
    margin-top: 0px ;
    height: 600px;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
    overflow: auto;
}

#main h1{
    text-align: center;
    font-family: Rebirth_Ultra;
}

#main p, h1, h2{
    padding: 24px;
    margin: 0;
}

#main p, h2{
    color:black;
}

#container #nav{
    height: 34px;
    width: 900px;
    margin-top: -20px;
}


ul{
    list-style-type: none;
    justify-content: left;
    padding: 0px;
    display: flex;
    margin: 0px;
    margin-top: 0px;
    height: 31px;
}

#movies, #othmovies{
    margin: 1em auto;
    width: 800px;
    overflow: auto;
    height: 428px;
}


ul li a{
    transition: filter, 0.5s;
}

ul li a:hover{
    filter: brightness(150%);
}

ul li a:active{
    filter: brightness(90%);
}

table{
    margin: 0px;
    padding: 1px;
    color:  black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    width:fit-content;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 780px;
    
}

table td, th{
   border-style: solid;
   border-width: 2px;
}
