body, p, h1, h2, h3, h4, h5, h6, form{
    color: rgb(63, 117, 171);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

#container{
    width: 900px;
    height: 506px;
    margin: 1em auto;
    margin-top: 0px;
    background: url(background_2.png);
    background-size: cover;
}

#wrap{
    padding-bottom: 20px;
}

#main{
    background-color: rgb(255, 255, 255);
    width: 900px;
    margin-top: 5em;
    height: 560px;
    border-style: solid;
    border-color: lightgray;
    border-width: 5px;
    overflow: auto;
}

#main h1{
    text-align: center;
}

#main p, h1, h2{
    padding: 24px;
    margin: 0;
}

#container #nav{
    height: 34px;
    width: 900px;
    margin-top: -20px;
}


ul{
    list-style-type: none;
    justify-content: left;
    padding: 0px;
    display: flex;
    margin: 0px;
    margin-top: 0px;
    height: 31px;
}


