body, img{
    text-align: center;
}

@font-face {
    font-family: Rebirth_Ultra;
    src: url(../font/Rebirth\ Ultra.ttf);
}

#contain p{
    margin: 1em auto;
    padding: 1em auto;
}

#next {
    float: right;
    margin-right: 10em;
    font-size: 30px;
}


#prev{
    float: left;
    margin-left: 10em;
    font-size: 30px;
}

#next, #prev{
    font-family: Rebirth_Ultra;
}

